nav {
  flex: 0 0 auto;
  position: fixed;
  width: 100vw;
  z-index: 99; }
  nav ul {
    list-style-type: none;
    display: none; }
    nav ul a {
      display: block;
      background-color: #fcf9ea;
      padding: 1em;
      font-size: 1.2em;
      text-decoration: none;
      text-transform: uppercase;
      color: #ff8a5c;
      transition: color 2s ease, background 1s ease, padding 1s ease; }
      nav ul a:hover {
        background-color: #ff8a5c;
        color: #fcf9ea;
        padding-left: 1.2em; }

.nav--container {
  padding: 0 1.2em;
  background-color: #49beb7;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.3em solid #ff8a5c; }
  .nav--container img {
    width: 3.5em;
    margin: 1em;
    align-self: center; }

.bar {
  width: 2em;
  height: .3em;
  margin: .4em;
  border-radius: .2em;
  background: #ff8a5c; }

.btn {
  padding: .3em;
  display: inline-block;
  align-self: center; }

header {
  min-height: 100vh;
  background: linear-gradient(#fcf9ea88, #ff8a5c80), url("../../img/office_hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* //shorthand for this */
  display: flex;
  flex-direction: column; }

.banner {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .banner h1 {
    font-size: .5em;
    text-transform: uppercase;
    color: #ff8a5c; }
  .banner h3 {
    text-transform: capitalize;
    font-size: 1.3em;
    color: #494949; }
  .banner__icons {
    padding: 2em; }
    .banner__icons a {
      display: inline-block;
      font-size: 2em;
      background-color: #ff8a5c;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      text-align: center;
      color: #fcf9ea;
      transition: color 1s ease, transform 1s ease; }
      .banner__icons a:hover {
        color: #fcf9ea;
        transform: translateY(-1em); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif; }

.services {
  min-height: 80vh;
  background: url("../../img/morecolors.jpeg") center/cover fixed no-repeat;
  display: flex;
  align-items: center; }

.service {
  color: #49beb7;
  display: flex;
  margin: 1em;
  font-size: 1.3em; }
  .service__icon {
    align-self: center;
    font-size: 2em;
    margin-right: .5em;
    padding: .5em;
    border: 0.1em solid #49beb7;
    border-radius: 50%; }
  .service__text h3 {
    text-transform: uppercase; }
  .service__text p {
    line-height: .2em;
    margin-top: .5em; }

@media screen and (min-width: 600px) {
  .services--center {
    width: 70%;
    margin: 0 auto; } }

.shop {
  padding: 0 0 5em;
  background-color: #fcf9ea; }

.title h2 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  color: #49beb7; }

.title--underline {
  background: #ff8a5c;
  width: 10em;
  height: 0.4em;
  margin: 1em auto; }

.title {
  padding: 2em 0; }

.product img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: opacity 2s ease, transform 2s ease; }

.product img:hover {
  opacity: 0.3;
  cursor: pointer;
  transform: scale(1.3); }

.product {
  background: linear-gradient(rgba(255, 99, 71, 0.685), rgba(0, 113, 128, 0.603));
  overflow: hidden; }

@media screen and (min-width: 500px) {
  .products--center {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media screen and (min-width: 900px) {
  .products--center {
    display: grid;
    grid-template-columns: repeat(3, 1fr); } }
